---
layout: page
description: "Quantitative Changes Lead to Qualitative Changes."
---
<style>
    body {
        /* Positioning and sizing of the body element */
        position: relative;
        width: 100%;
        height: 100%;
    }

    body::before {
        /* Create a pseudo-element */
        content: "";

        /* Position and size the pseudo-element to fill the entire parent element */
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* Set the z-index so the pseudo-element is below the content */
        z-index: -1;

        /* Path to your background image */
        background-image: url('/img/post-bg-desk.jpg');
        
        /* Other background properties */
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;

        /* Set a white overlay with opacity - you can adjust the color and opacity as needed */
        /* The 'rgba' function defines colors using the Red-Green-Blue-Alpha model, where 'alpha' is the opacity */
        background-color: rgba(255, 255, 255, 0.5); /* white with 50% opacity */
    }
</style>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
